**/*.swp
**/*.kate-swp
**/*.orig
**/*.bin
**/*.raw
.vs
packages
**/*.user
**/license*
pico-*
pico_setup.sh
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/elf2uf2
**/generated
**/pioasm
**/*.elf*
**/*.dis
**/*.hex
**/*.uf2
resources
**.wav
**.bkp
**.dtmp
.~lock.*
build
